/* Overlay style */
.overlay {
	position: fixed;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	background:#ffffff;
	z-index: 9999;
}

/* Overlay closing cross */
.overlay .overlay-close {
	cursor: pointer;
	width: 30px;
	height: 30px;
	position: absolute;
	right: 10px;
	top: 10px;
	overflow: hidden;
	border: none;
	background:url(../images/icon_cols.png) no-repeat 0 0/30px 30px;
	color: transparent;
	outline: none;
	z-index: 100;
}

/* Menu style */

/* Effects */

.overlay-contentscale {
	visibility: hidden;
	-webkit-transform: translateY(100%);
	transform: translateY(100%);
	-webkit-transition: -webkit-transform 0.7s, visibility 0s 0.7s;
	transition: transform 0.7s, visibility 0s 0.7s;
}

.overlay-contentscale.open {
	visibility: visible;
	-webkit-transform: translateY(0%);
	transform: translateY(0%);
	-webkit-transition: -webkit-transform 0.7s;
	transition: transform 0.7s;
}

.lay-right{width: 100%;overflow:hidden;}
.asideMenu{background: #4eabe8;width: 100%; }
.aCont{overflow:hidden;width: 200px;position: relative;margin:0 auto;z-index: 9999;}
.aHead{height: 120px;position: relative;}
.aHead span{position: absolute;width: 100%;height: 150px;display: block;left: 50%;top: 50%;margin-top: -49px;margin-left: -100px;text-align: center;}
.aHead span img{width: 70px;height:70px;display: block;margin: 0px auto; border-radius:50px; -webkit-border-radius:50px; -moz-border-radius:50px;}
.aHead span a,.aHead span em,.version a,.version em{font-style: normal;font-size: 16px;/**从14px改到16px;**/line-height: 40px;color: #fff;font-weight: normal;}
.aHead span font{vertical-align:middle; font-style: normal;font-size: 16px;/**从14px改到16px;**/line-height: 40px;color: #fff;}
.aHead span em,.version em{color: #fff;padding: 0px 10px;}
.content-slide {padding: 8px 10px;color: #fff;}
.content-slide>a {width: 25%;float: left;text-align: center;color: #000000;overflow: hidden;margin-bottom: 15px;}
.title {font-size: 12px;margin-top:3px; overflow: hidden;text-overflow: ellipsis;white-space: nowrap;}
.ico img{ width:62px; height:62px;border-radius: 0;}

@media screen and (max-height: 30.5em) {
	.overlay nav {
		height: 70%;
		font-size: 34px;
	}
	.overlay ul li {
		min-height: 34px;
	}
}